extends ./layouts/common.pug

block content
  // /.slider_section
  section.slider_section.header_height
    ul#main-slider.owl-carousel.main_slider
      li.main_slide(style='background-image: url(/images/slide-1.jpg);')
        .display-table
          .table-cell
            .container
              .slider_content
                h3 --- Leibniz ---
                h1 Ai la&#x300;m chu&#x309; gia&#x301;o du&#x323;c co&#x301; th&ecirc;&#x309; thay &dstrok;&ocirc;&#x309;i th&ecirc;&#x301; gi&#x1A1;&#x301;i
                p
      li.main_slide(style='background-image: url(/images/slide-2.jpg);')
        .display-table
          .table-cell
            .container
              .slider_content
                h3 --- Kh&ocirc;&#x309;ng T&#x1B0;&#x309; ---
                h1 H&#x1ECD;c kh&ocirc;ng bi&#x1EBF;t ch&aacute;n, d&#x1EA1;y ng&#x1B0;&#x1EDD;i kh&ocirc;ng bi&#x1EBF;t m&#x1ECF;i.
      li.main_slide(style='background-image: url(/images/slide3.jpg);')
        .display-table
          .table-cell
            .container
              .slider_content
                h3 --- Nga&#x323;n ng&#x1B0;&#x303; Nga ---
                h1 B&#x1ED9; l&ocirc;ng l&agrave;m &dstrok;&#x1EB9;p con c&ocirc;ng, h&#x1ECD;c v&#x1EA5;n l&agrave;m &dstrok;&#x1EB9;p con ng&#x1B0;&#x1A1;&#x300;i
  // /.slider_section
  // WELCOME
  section#wellcome.padding.blue-custom
    .container
      .row
        .col-sm-1.col-lg-2
        .col-xs-12.col-sm-10.col-lg-8.text-center
          h1.welcome-text Cha&#x300;o m&#x1B0;&#x300;ng &dstrok;&ecirc;&#x301;n v&#x1A1;&#x301;i tr&#x1B0;&#x1A1;&#x300;ng Ti&ecirc;&#x309;u ho&#x323;c Huy&#x300;nh Ngo&#x323;c Hu&ecirc;&#x323;
          .line_1-1
          .line_2-2
          .line_3-3
          p.heading_space(style='font-size: 20px;') CH&#x1EA4;T L&#x1AF;&#x1EE2;NG GI&Aacute;O D&#x1EE4;C L&Agrave; DANH D&#x1EF0;, UY T&Iacute;N C&#x1EE6;A NH&Agrave; TR&#x1AF;&#x1EDC;NG
        .col-sm-1.col-lg-2
      .row
        .col-lg-3.col-sm-3.col-xs-12.text-center
          .welcome.top40
            img(src='/images/wellcome_1.png', alt='image')
            h4 M&ocirc;i tr&#x1B0;&#x1A1;&#x300;ng th&acirc;n thi&ecirc;&#x323;n
        .col-lg-3.col-sm-3.col-xs-12.text-center
          .welcome.top40
            img(src='/images/wellcome_2.png', alt='image')
            h4 &Dstrok;&ocirc;&#x323;i ngu&#x303; gia&#x301;o vi&ecirc;n &dstrok;a&#x323;t chu&acirc;&#x309;n
        .col-lg-3.col-sm-3.col-xs-12.text-center
          .welcome.top40
            img(src='/images/wellcome_3.png', alt='image')
            h4 Danh hi&ecirc;&#x323;u trong thi &dstrok;ua
        .col-lg-3.col-sm-3.col-xs-12.text-center
          .welcome.top40
            img(src='/images/wellcome_4.png', alt='image')
            h4 &#x1AF;&#x1A1;m m&acirc;&#x300;m ta&#x300;i n&abreve;ng
  // #/WELCOME
  // /#fearures
  .educare_fearures_section
    .slider-image
      .slider
        .slide.slide1
          .container-fluid
            .row
              .col-lg-7.col-sm-4(style='padding: 0;')
                img(src='/images/fearures_section4.jpg', style='height: 500px;width: 100%;', alt='')
              .col-lg-5.col-sm-8(style='padding: 50px 70px;')
                h3.fearures_title Ng&ocirc;i tr&#x1B0;&#x1A1;&#x300;ng &dstrok;&aacute;ng tin c&#x1EAD;y
                p.fearures_content
                  | V&#x1EDB;i m&#x1ED9;t ng&ocirc;i tr&#x1B0;&#x1EDD;ng khang trang, s&#x1EA1;ch &dstrok;&#x1EB9;p v&agrave; c&oacute; b&#x1EC1; d&agrave;y v&#x1EC1; truy&#x1EC1;n th&#x1ED1;ng, tr&#x1B0;&#x1EDD;ng ti&#x1EC3;u h&#x1ECD;c Hu&#x1EF3;nh Ng&#x1ECD;c Hu&#x1EC7; &dstrok;&atilde; kh&#x1EB3;ng &dstrok;&#x1ECB;nh &dstrok;&#x1B0;&#x1EE3;c v&#x1ECB; tr&iacute; v&agrave; vai tr&ograve; c&#x1EE7;a m&igrave;nh trong s&#x1EF1; nghi&#x1EC7;p gi&aacute;o d&#x1EE5;c c&#x1EE7;a th&agrave;nh ph&#x1ED1; v&agrave; l&agrave; &dstrok;&#x1ECB;a ch&#x1EC9; &dstrok;&aacute;ng tin c&#x1EAD;y c&#x1EE7;a
                  | c&aacute;c b&#x1EAD;c ph&#x1EE5; huynh.
        .slide.slide2
          .container-fluid
            .row
              .col-lg-7.col-sm-4(style='padding: 0;')
                img(src='/images/fearures_section2.jpg', style='height: 500px;width: 100%;', alt='')
              .col-lg-5.col-sm-8(style='padding: 50px 70px;')
                h3.fearures_title &quot; Tre&#x309; em nh&#x1B0; bu&#x301;p tr&ecirc;n ca&#x300;nh &quot; 
                p.fearures_content
                  | Ch&uacute;ng t&ocirc;i coi tr&#x1ECD;ng, th&#x1EF1;c hi&#x1EC7;n l&#x1A1;&#x300;i da&#x323;y cu&#x309;a Ba&#x301;c l&agrave; l&agrave;m t&#x1ED1;t h&#x1A1;n n&#x1EEF;a nhi&#x1EC7;m v&#x1EE5; ch&abreve;m s&oacute;c va&#x300; gi&aacute;o d&#x1EE5;c c&aacute;c em, t&#x1EA1;o &dstrok;i&#x1EC1;u ki&#x1EC7;n t&#x1ED1;t nh&#x1EA5;t &dstrok;&#x1EC3; gi&uacute;p c&aacute;c em h&#x1ECD;c t&#x1EAD;p v&agrave; r&egrave;n luy&#x1EC7;n th&#x1EAD;t t&#x1ED1;t, tr&#x1EDF; th&agrave;nh con ngoan, tr&ograve; gi&#x1ECF;i, l&agrave; &ldquo;Ch&aacute;u ngoan
                  | B&aacute;c H&#x1ED3;&rdquo;
        .slide.slide3
          .container-fluid
            .row
              .col-lg-7.col-sm-4(style='padding: 0;')
                img(src='/images/fearures_section1.jpg', style='height: 500px;width: 100%;', alt='')
              .col-lg-5.col-sm-8(style='padding: 50px 70px;')
                h3.fearures_title Ma&#x300;u a&#x301;o xanh Thanh ni&ecirc;n 
                p.fearures_content
                  | Tu&ocirc;&#x309;i tre&#x309; cu&#x309;a tr&#x1B0;&#x1A1;&#x300;ng lu&ocirc;n v&#x1B0;&#x1A1;n t&#x1EDB;i ch&acirc;n tr&#x1EDD;i s&aacute;ng t&#x1EA1;o, c&ugrave;ng nhau c&#x1ED1;ng hi&#x1EBF;n v&agrave; th&#x1EF1;c hi&#x1EC7;n &dstrok;am m&ecirc;. S&abreve;&#x303;n sa&#x300;ng phu&#x323;c vu&#x323; T&ocirc;&#x309; qu&ocirc;&#x301;c.
        .slide.slide4
          .container-fluid
            .row
              .col-lg-7.col-sm-4(style='padding: 0;')
                img(src='/images/fearures_section3.jpg', style='height: 500px;width: 100%;', alt='')
              .col-lg-5.col-sm-8(style='padding: 50px 70px;')
                h3.fearures_title Ng&ocirc;i tr&#x1B0;&#x1A1;&#x300;ng an toa&#x300;n
                p.fearures_content
                  | Chu&#x301;ng t&ocirc;i lu&ocirc;n &dstrok;em la&#x323;i cho ca&#x301;c em m&ocirc;&#x323;t m&ocirc;i tr&#x1B0;&#x1A1;&#x300;ng an toa&#x300;n, la&#x300;nh ma&#x323;nh, ta&#x323;o &dstrok;i&ecirc;&#x300;u ki&ecirc;&#x323;n &dstrok;&ecirc;&#x309; ca&#x301;c em pha&#x301;t tri&ecirc;&#x309;n, ngay ca&#x309; khi lu&#x301;c kho&#x301; kh&abreve;n nh&acirc;&#x301;t
        .slide.slide1
          .container-fluid
            .row
              .col-lg-7.col-sm-4(style='padding: 0;')
                img(src='images/fearures_section4.jpg', style='height: 500px;width: 100%;', alt='')
              .col-lg-5.col-sm-8(style='padding: 50px 70px;')
                h3.fearures_title Ng&ocirc;i tr&#x1B0;&#x1A1;&#x300;ng &dstrok;&aacute;ng tin c&#x1EAD;y
                p.fearures_content
                  | V&#x1EDB;i m&#x1ED9;t ng&ocirc;i tr&#x1B0;&#x1EDD;ng khang trang, s&#x1EA1;ch &dstrok;&#x1EB9;p v&agrave; c&oacute; b&#x1EC1; d&agrave;y v&#x1EC1; truy&#x1EC1;n th&#x1ED1;ng, tr&#x1B0;&#x1EDD;ng ti&#x1EC3;u h&#x1ECD;c Hu&#x1EF3;nh Ng&#x1ECD;c Hu&#x1EC7; &dstrok;&atilde; kh&#x1EB3;ng &dstrok;&#x1ECB;nh &dstrok;&#x1B0;&#x1EE3;c v&#x1ECB; tr&iacute; v&agrave; vai tr&ograve; c&#x1EE7;a m&igrave;nh trong s&#x1EF1; nghi&#x1EC7;p gi&aacute;o d&#x1EE5;c c&#x1EE7;a th&agrave;nh ph&#x1ED1; v&agrave; l&agrave; &dstrok;&#x1ECB;a ch&#x1EC9; &dstrok;&aacute;ng tin c&#x1EAD;y c&#x1EE7;a
                  | c&aacute;c b&#x1EAD;c ph&#x1EE5; huynh.
  // /#fearures
  // Counter Section
  #counter-section.padding
    .container
      .row.mb-20
        .col-sm-1.col-md-2
        .col-xs-12.col-sm-10.col-md-8.text-center
          h2.text-uppercase.font-dearJoe M&ocirc;&#x323;t s&ocirc;&#x301; th&ocirc;ng tin kha&#x301;c
          .line_1-1
          .line_2-2
          .line_3-3
          p.heading_space
            | &Dstrok;&#x1B0;&#x1EE3;c x&acirc;y d&#x1EF1;ng tr&ecirc;n n&#x1EC1;n t&#x1EA3;ng ch&#x1B0;&#x1A1;ng tr&igrave;nh c&#x1EE7;a B&#x1ED9; GD&amp;&Dstrok;T v&#x1EDB;i &dstrok;&#x1ECB;nh h&#x1B0;&#x1EDB;ng gi&aacute;o d&#x1EE5;c 4.0 mang l&#x1EA1;i m&ocirc;i tr&#x1B0;&#x1EDD;ng h&#x1ECD;c t&#x1EAD;p t&ocirc;&#x301;t nh&acirc;&#x301;t cho h&#x1ECD;c sinh.
        .col-sm-1.col-md-2
      .row.number-counters.text-center.mt-30
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-user(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong(data-to='55') 0
            p Gia&#x301;o vi&ecirc;n
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-th(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong(data-to='33') 0
            p L&#x1A1;&#x301;p ho&#x323;c
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-users(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong(data-to='1290') 0
            p Ho&#x323;c sinh
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-th-list(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong 2/Ngày
            p Bu&ocirc;&#x309;i ho&#x323;c
            .border-inner
      .row.number-counters.text-center.mt-30
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-user-plus(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong 6 - 14
            p &Dstrok;&ocirc;&#x323; tu&ocirc;&#x309;i trung bi&#x300;nh
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-percent(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong 1.5
            p Ti&#x309; l&ecirc;&#x323; ho&#x323;c sinh - gia&#x301;o vi&ecirc;n 
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-universal-access(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong(data-to='39') 0
            p Si&#x303; s&ocirc;&#x301; trung bi&#x300;nh
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-building(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong(data-to='1') 0
            p C&#x1A1; s&#x1A1;&#x309; v&acirc;&#x323;t ch&acirc;&#x301;t
            .border-inner
  // Counter Section
  // learn from the best
  section#banner-style6.banner-style6.padding
    .container-fluid
      .container
        .row
          .col-sm-1.col-lg-2
          .col-xs-12.col-sm-10.col-lg-8.text-center
            h2.text-uppercase.font-dearJoe &Dstrok;&ocirc;&#x323;i ngu&#x303; gia&#x301;o vi&ecirc;n
            .line_1-1
            .line_2-2
            .line_3-3
            p.heading_space
              | &Dstrok;&#x1ED9;i ng&utilde; c&#x1EE7;a ch&uacute;ng t&ocirc;i &dstrok;a&#x323;t chu&acirc;&#x309;n, m&#x1EA1;nh m&#x1EBD; v&agrave; s&aacute;ng t&#x1EA1;o v&agrave; li&ecirc;n t&#x1EE5;c &dstrok;&#x1ED5;i m&#x1EDB;i ph&#x1B0;&#x1A1;ng th&#x1EE9;c gi&#x1EA3;ng d&#x1EA1;y &dstrok;&#x1EC3; &dstrok;em l&#x1EA1;i k&#x1EBF;t qu&#x1EA3; t&#x1ED1;t nh&#x1EA5;t.
          .col-sm-1.col-lg-2
        .row.clearfix
          .col-md-12.col-sm-12
            .team_carousel1.owl-carousel
              // Staff Member
              each teacher in teachers 
                  .staff-member
                    .inner-box.wow.fadeInUp(data-wow-delay='0ms', data-wow-duration='1500ms')
                      figure.image-box
                        img(src=teacher.avatar, alt='')
                        .overlay-box
                          ul.social-icon-two
                            li
                              a(href='#')
                                span.fa.fa-facebook-f
                            li
                              a(href='#')
                                span.fa.fa-twitter
                            li
                              a(href='#')
                                span.fa.fa-pinterest-p
                      .lower-content
                        h3
                          a(href='#')=teacher.name
                        .designation #{teacher.position}   
   
  // NOTI
  section#agent-p-2.property-details.padding.background-custom1
    .container
      .row
        .col-sm-1.col-lg-2
        .col-xs-12.col-sm-10.col-lg-8.text-center
          h2.text-uppercase.text-white.font-dearJoe Th&ocirc;ng ba&#x301;o m&#x1A1;&#x301;i nh&acirc;&#x301;t
          .line_1-1
          .line_2-2
          .line_3-3
        .col-sm-1.col-lg-2
      .col-lg-12
        .row
          #property-2-slider.owl-carousel
            // ITEM NOTI
            each noti in notis
              .item
                .property_item
                  .image
                    img.img-noti-list(src=noti.link, alt='listin')
                    .overlay
                      .centered
                        a.link_arrow.white_border(href='#') Chi ti&ecirc;&#x301;t
                  .proerty_content
                    .proerty_text
                      h3
                        a(href='#')=noti.title
                      span.bottom10 Tr&#x1B0;&#x1A1;&#x300;ng TH Huy&#x300;nh Ngo&#x323;c Hu&ecirc;&#x323;, &Dstrok;a&#x300; N&abreve;&#x303;ng
                    .favroute.clearfix
                      p.pull-left
                        a.link_arrow(href='#') Xem th&ecirc;m
            // ITEM NOTI
          
  // NEWS
  section#blog.blog.blogs.padding.pa-50
    .container
      .row
        .col-sm-1.col-lg-2
        .col-xs-12.col-sm-10.col-lg-8.text-center
          h2.text-uppercase.font-dearJoe.text-custom1 Tin t&#x1B0;&#x301;c m&#x1A1;&#x301;i nh&acirc;&#x301;t
             
          .line_1-1
          .line_2-2
          .line_3-3
        .col-sm-1.col-lg-2
      .owl-carousel
        // start item [1]
        each news in newsList 
          .items
            .info
              a(href='#')
                img.img-news(alt='image', title='image', src=news.link)
              .date
                p=news.createDate.getDate()
                p
                  span=(news.createDate.getMonth()+", "+news.createDate.getFullYear())
              .caption
                h5.event-ti-style
                  a(href='#')=news.title
                    | 
                p
                  small=news.content
                  | 
                .educare-btn-style1
                  .educare-btn-effect
                  a(href='#')  Xem th&ecirc;m 
       
 
  // Gallery
  #photo-gallery.padding.white
    .container
      .row.mb-20
        .col-sm-1.col-md-2
        .col-xs-12.col-sm-10.col-md-8.text-center
          h2.text-uppercase.font-dearJoe
            | Ho&#x323;c ma&#x300; ch&#x1A1;i, ch&#x1A1;i ma&#x300; ho&#x323;c
          .line_1-1
          .line_2-2
          .line_3-3
        .col-sm-1.col-md-2
      .row.portfolio-grid
        // Project 1 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/1.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/1.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 1 Ends
        // Project 2 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/2.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/2.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 2 Ends
        // Project 3 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/3.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/3.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 3 Ends
        // Project 4 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/4.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/4.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 4 Ends
        // Project 5 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/5.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/5.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 5 Ends
        // Project 6 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/6.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/6.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 6 Ends
        // Project 7 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/7.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/7.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 7 Ends
        // Project 8 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/8.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/8.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 8 Ends
  // Gallery
  section#testimonial.testimonial.background-custom2.padding
    .container
      .row
        .col-sm-1.col-lg-2
        .col-xs-12.col-sm-10.col-lg-8.text-center
          h2.text-uppercase.text-white.font-dearJoe Ho&#x323;c sinh cu&#x309;a chu&#x301;ng t&ocirc;i no&#x301;i gi&#x300;?
          .line_1-1
          .line_2-2
          .line_3-3
          p.heading_space.text-white Tr&#x1B0;&#x1A1;&#x300;ng ho&#x323;c th&acirc;n thi&ecirc;&#x323;n, ho&#x323;c sinh ti&#x301;ch c&#x1B0;&#x323;c
        .col-sm-1.col-lg-2
      .row
        .col-sm-12
          .team_carousel1.owl-carousel
            .single_testimonial.text-center.wow.zoomIn(data-wow-duration='2s')
              .author_img
                img.radius_100p(src='/images/testimonial_author3.jpg', alt='author')
              p.author_comment Em y&ecirc;u tr&#x1B0;&#x1A1;&#x300;ng em, v&#x1A1;&#x301;i bao ba&#x323;n th&acirc;n...
              h5.text-custom1.text-uppercase
                | Ho&#x323;c sinh 
                span.line
            .single_testimonial.text-center.wow.zoomIn(data-wow-duration='2s')
              .author_img
                img.radius_100p(src='/images/testimonial_author3.jpg', alt='author')
              p.author_comment Em y&ecirc;u tr&#x1B0;&#x1A1;&#x300;ng em, v&#x1A1;&#x301;i bao ba&#x323;n th&acirc;n...
              h5.text-custom2.text-uppercase
                | Ho&#x323;c sinh 
                span.line
            .single_testimonial.text-center.wow.zoomIn(data-wow-duration='2s')
              .author_img
                img.radius_100p(src='/images/testimonial_author3.jpg', alt='author')
              p.author_comment Em y&ecirc;u tr&#x1B0;&#x1A1;&#x300;ng em, v&#x1A1;&#x301;i bao ba&#x323;n th&acirc;n...
              h5.text-custom2.text-uppercase
                | Ho&#x323;c sinh 
                span.line
  // testimonial Section
  



