extends ./layouts/common.pug

block content
  // /.slider_section
  section.slider_section.header_height
    ul#main-slider.owl-carousel.main_slider
      li.main_slide(style='background-image: url(/images/fearures_section4.jpg);')
        .display-table
          .table-cell
            .container
              .slider_content
      li.main_slide(style='background-image: url(/images/portfolio/aomu2.jpg);')
        .display-table
          .table-cell
            .container
              .slider_content
               
      li.main_slide(style='background-image: url(/images/portfolio/chaoco.jpg);')
        .display-table
          .table-cell
            .container
              .slider_content
                
      li.main_slide(style='background-image: url(/images/portfolio/vannghe1.png);')
        .display-table
          .table-cell
            .container
              .slider_content
      li.main_slide(style='background-image: url(/images/portfolio/hoc-sinh1.png);')
        .display-table
          .table-cell
            .container
              .slider_content
               
  // /.slider_section
  // WELCOME
  section#wellcome.padding.blue-custom
    .container
      .row
        .col-sm-1.col-lg-2
        .col-xs-12.col-sm-10.col-lg-8.text-center
          h1.welcome-text Chào mừng đến với trường Tiểu học Huỳnh Ngọc Huệ
          .line_1-1
          .line_2-2
          .line_3-3
          p CHẤT LƯỢNG GIÁO DỤC LÀ DANH DỰ, UY TÍN CỦA NHÀ TRƯỜNG
        .col-sm-1.col-lg-2
      .row
        .col-lg-3.col-sm-3.col-xs-12.text-center
          .welcome.top20
            img(src='/images/wellcome_1.png', alt='image')
            h4 Môi trường thân thiện
        .col-lg-3.col-sm-3.col-xs-12.text-center
          .welcome.top20
            img(src='/images/wellcome_2.png', alt='image')
            h4 Đội ngũ giáo viên đạt chuẩn
        .col-lg-3.col-sm-3.col-xs-12.text-center
          .welcome.top20
            img(src='/images/wellcome_3.png', alt='image')
            h4 Danh hiệu trong thi đua
        .col-lg-3.col-sm-3.col-xs-12.text-center
          .welcome.top20
            img(src='/images/wellcome_4.png', alt='image')
            h4 Ươm mầm tài năng
  // #/WELCOME
  // /#fearures
  .educare_fearures_section
    .slider-image
      .slider
        .slide.slide1
          .container-fluid
            .row
              .col-lg-7(style='padding: 0;')
                img(class='img-ft' src='/images/portfolio/aomu.jpg', alt='')
              .col-lg-5(style='padding: 50px 70px ;')
                h3.fearures_title Ngôi trường đáng tin cậy
                p.fearures_content
                  | Với một ngôi trường khang trang, sạch đẹp và có bề dày về truyền thống, trường tiểu học Huỳnh Ngọc Huệ đã khẳng định được vị trí và vai trò của mình trong sự nghiệp giáo dục của thành phố và là địa chỉ đáng tin cậy của các bậc phụ huynh.
        .slide.slide2
          .container-fluid
            .row
              .col-lg-7(style='padding: 0;')
                img(class='img-ft' src='/images/fearures_section22.jpg', alt='')
              .col-lg-5(style='padding: 50px 70px;')
                h2.fearures_title &quot;Trẻ em như búp trên cành&quot; 
                p.fearures_content
                  | Chúng tôi coi trọng, thực hiện lời dạy của Bác là làm tốt hơn nữa nhiệm vụ chăm sóc và giáo dục các em, tạo điều kiện tốt nhất để giúp các em học tập và rèn luyện thật tốt, trở thành con ngoan, trò giỏi, là “Cháu ngoan Bác Hồ”
        .slide.slide3
          .container-fluid
            .row
              .col-lg-7(style='padding: 0;')
                img(class='img-ft' src='/images/fearures_section1.jpg', alt='')
              .col-lg-5(style='padding: 50px 70px;')
                h3.fearures_title Màu áo xanh Thanh niên 
                p.fearures_content
                  | Tuổi trẻ của trường luôn vươn tới chân trời sáng tạo, cùng nhau cống hiến và thực hiện đam mê. Sẵn sàng phục vụ Tổ quốc.
        .slide.slide4
          .container-fluid
            .row
              .col-lg-7(style='padding: 0;')
                img(class='img-ft' src='/images/fearures_section3.jpg', alt='')
              .col-lg-5(style='padding: 50px 70px;')
                h3.fearures_title Ngôi trường an toàn
                p.fearures_content
                  | Chúng tôi luôn đem lại cho các em một môi trường an toàn, lành mạnh, tạo điều kiện để các em phát triển, ngay cả khi lúc khó khăn nhất.
        .slide.slide1
          .container-fluid
            .row
              .col-lg-7(style='padding: 0;')
                img(class='img-ft' src='/images/portfolio/aomu.jpg.jpg' , alt='')
              .col-lg-5(style='padding: 50px 70px;')
                h3.fearures_title Ngôi trường đáng tin cậy
                p.fearures_content
                  | Với một ngôi trường khang trang, sạch đẹp và có bề dày về truyền thống, trường tiểu học Huỳnh Ngọc Huệ đã khẳng định được vị trí và vai trò của mình trong sự nghiệp giáo dục của thành phố và là địa chỉ đáng tin cậy của các bậc phụ huynh.
  // /#fearures
  // Counter Section
  #counter-section.padding
    .container
      .row.mb-20
        .col-sm-1.col-md-2
        .col-xs-12.col-sm-10.col-md-8.text-center
          h2.text-uppercase.font-dearJoe MỘT SỐ THÔNG TIN KHÁC
          .line_1-1
          .line_2-2
          .line_3-3
          p.heading_space
            | Được xây dựng trên nền tảng chương trình của Bộ GD&amp;ĐT với định hướng giáo dục 4.0 mang lại môi trường học tập tốt nhất cho học sinh.
      .row.number-counters.text-center.mt-30
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-user(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong(data-to='55') 0
            p Giáo viên
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-th(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong(data-to='33') 0
            p Lớp học
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-users(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong(data-to='1290') 0
            p Học sinh
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-th-list(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong 2 buổi/ ngày
            p Buổi học
            .border-inner
      .row.number-counters.text-center.mt-30
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-user-plus(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong 6 - 14
            p Độ tuổi trung bình
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-percent(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong 1.5
            p Tỉ lệ giáo viên/ lớp
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-universal-access(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong(data-to='39') 0
            p Sĩ số trung bình
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-building(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong(data-to='1') 0
            p Cơ sở vật chất
            .border-inner
  // Counter Section
  // learn from the best
  section#banner-style6.banner-style6.padding
    .container-fluid
      .container
        .row
          .col-sm-1.col-lg-2
          .col-xs-12.col-sm-10.col-lg-8.text-center
            h2.text-uppercase.font-dearJoe ĐỘI NGŨ GIÁO VIÊN
            .line_1-1
            .line_2-2
            .line_3-3
            p.heading_space
              | Đội ngũ của chúng tôi đạt chuẩn, mạnh mẽ và sáng tạo và liên tục đổi mới phương thức giảng dạy để đem lại kết quả tốt nhất.
          .col-sm-1.col-lg-2
        .row.clearfix
          .col-md-12.col-sm-12
            .team_carousel1.owl-carousel
              // Staff Member
              each teacher in teachers 
                  .staff-member
                    .inner-box.wow.fadeInUp(data-wow-delay='0ms', data-wow-duration='1500ms')
                      figure.image-box
                        img(src=teacher.avatar, alt='')
                        .overlay-box
                          ul.social-icon-two
                            li
                              a(href='#')
                                span.fa.fa-facebook-f
                            li
                              a(href='#')
                                span.fa.fa-twitter
                            li
                              a(href='#')
                                span.fa.fa-pinterest-p
                      .lower-content
                        h3
                          a(href='#')=teacher.name
                        .designation #{teacher.position}   
   
  // NOTI
  section#agent-p-2.property-details.padding.background-custom1
    .container
      .row
        .col-sm-1.col-lg-2
        .col-xs-12.col-sm-10.col-lg-8.text-center
          h2.text-uppercase.text-white.font-dearJoe THÔNG BÁO MỚI NHẤT
          .line_1-1
          .line_2-2
          .line_3-3
        .col-sm-1.col-lg-2
      .col-lg-12
        .row
          #property-2-slider.owl-carousel
            // ITEM NOTI
            each noti in notis
              .item
                .property_item
                  .image
                    img.img-noti-list(src=noti.link, alt='listin')
                    .overlay
                      .centered
                        a.link_arrow.white_border(href=`/thong-bao/${noti.notiId}`) Chi tiết
                  .proerty_content
                    .proerty_text
                      h3
                        a(href=`/thong-bao/${noti.notiId}`)=noti.title
                      span.bottom10 Trường TH Huỳnh Ngọc Huệ
                    .favroute.clearfix
                      p.pull-left
                        a.link_arrow(href=`/thong-bao/${noti.notiId}`) Xem thêm
            // ITEM NOTI
          
  // NEWS
  section#blog.blog.blogs.padding.pa-50
    .container
      .row
        .col-sm-1.col-lg-2
        .col-xs-12.col-sm-10.col-lg-8.text-center
          h2.text-uppercase.font-dearJoe.text-custom1 TIN TỨC MỚI NHẤT
             
          .line_1-1
          .line_2-2
          .line_3-3
        .col-sm-1.col-lg-2
      .owl-carousel
        // start item [1]
        each news in newsList 
          .items
            .info
              a(href=`/tintuc-sukien/${news.newsId}`)
                img.img-news(alt='image', title='image', src=news.link)
              .date
                p=news.createDate.getDate()
                p
                  span=((news.createDate.getMonth()+1)+", "+news.createDate.getFullYear())
              .caption
                h5.event-ti-style
                  a(href=`/tintuc-sukien/${news.newsId}`)=news.title
                    | 
                p#content-news 
                  small=news.content
                  | 
                .educare-btn-style1
                  .educare-btn-effect
                  a(href=`/tintuc-sukien/${news.newsId}`)  Xem thêm 
       
 
  // Gallery
  #photo-gallery.padding.white
    .container
      .row.mb-20
        .col-sm-1.col-md-2
        .col-xs-12.col-sm-10.col-md-8.text-center
          h2.text-uppercase.font-dearJoe
            | HỌC MÀ CHƠI, CHƠI MÀ HỌC
          .line_1-1
          .line_2-2
          .line_3-3
        .col-sm-1.col-md-2
      .row.portfolio-grid
        // Project 1 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/1.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/1.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 1 Ends
        // Project 2 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/2.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/2.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 2 Ends
        // Project 3 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/3.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/3.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 3 Ends
        // Project 4 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/4-16.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/4-16.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 4 Ends
        // Project 5 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/5.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/5.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 5 Ends
        // Project 6 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/6.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/6.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 6 Ends
        // Project 7 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/7.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/7.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 7 Ends
        // Project 8 Starts
        .col-xs-12.col-sm-6.col-md-3
          .picture
            img(src='/images/portfolio/8.jpg', alt='')
            // Picture Overlay Starts
            .icon-overlay
              .icon
                a.image-popup-vertical-fit(href='/images/portfolio/8.jpg', title='')
                  i.fa.fa-search-plus(aria-hidden='true')
            // Picture Overlay Ends
        // Project 8 Ends
  // Gallery
  section#testimonial.testimonial.background-custom3.padding
    .container
      .row
        .col-sm-1.col-lg-2
        .col-xs-12.col-sm-10.col-lg-8.text-center
          h2.text-uppercase.text-white.font-dearJoe PHỤ HUYNH CỦA CHÚNG TÔI NÓI GÌ?
          .line_1-1
          .line_2-2
          .line_3-3
          p.heading_space.text-white Những ý kiến đóng góp làm cơ sở cho chúng tôi không ngừng cải thiện và tiếp tục thực hiện sứ mệnh đem đến nền giáo dục tốt nhất cho các em học sinh.
        .col-sm-1.col-lg-2
      .row
        .col-sm-12
          .team_carousel1.owl-carousel
            .single_testimonial.text-center.wow.zoomIn(data-wow-duration='2s')
              .author_img
                img.radius_100p(src='/images/ph-hs/thutam.jpg', alt='author')
              p.author_comment Giáo viên rất nhiệt tình và gần gũi với học sinh. Trường có nhiều phong trào, hoạt động sôi nổi giúp các em thêm nhiều kiến thức, kỹ năng và năng động hơn!
              h5.text-custom2
                | PH Thu Tâm 
                span.line
            .single_testimonial.text-center.wow.zoomIn(data-wow-duration='2s')
              .author_img
                img.radius_100p(src='/images/ph-hs/camnhanhue.jpg', alt='author')
              p.author_comment Giáo viên nhiệt tình và học sinh dễ thương!
                br 
                br
                br
              h5.text-custom2
                | PH Cam Nhan Hue  
                span.line
            .single_testimonial.text-center.wow.zoomIn(data-wow-duration='2s')
              .author_img
                img.radius_100p(src='/images/avatarMale.png', alt='author')
              p.author_comment Là trường tiểu học tốt, có không gian thoáng đãng. Giáo viên và cơ sở vật chất khá tốt, là lựa chọn tốt cho học sinh nếu học tại đây.
                br
                
              h5.text-custom2
                | PH Huy  
                span.line
  
  section#testimonial.testimonial.background-custom2.padding
    .container
      .row
        .col-sm-1.col-lg-2
        .col-xs-12.col-sm-10.col-lg-8.text-center
          h2.text-uppercase.text-white.font-dearJoe HỌC SINH CỦA CHÚNG TÔI NÓI GÌ?
          .line_1-1
          .line_2-2
          .line_3-3
          p.heading_space.text-white Trường học thân thiện, học sinh tích cực
        .col-sm-1.col-lg-2
      .row
        .col-sm-12
          .team_carousel1.owl-carousel
            .single_testimonial.text-center.wow.zoomIn(data-wow-duration='2s')
              .author_img
                img.radius_100p(src='/images/testimonial_author3.jpg', alt='author')
              p.author_comment Em yêu trường em, với bao bạn thân...
              h5.text-custom1.text-uppercase
                | Học sinh 
                span.line
            .single_testimonial.text-center.wow.zoomIn(data-wow-duration='2s')
              .author_img
                img.radius_100p(src='/images/testimonial_author3.jpg', alt='author')
              p.author_comment Em yêu trường em, với bao bạn thân...
              h5.text-custom2.text-uppercase
                | Học sinh  
                span.line
            .single_testimonial.text-center.wow.zoomIn(data-wow-duration='2s')
              .author_img
                img.radius_100p(src='/images/testimonial_author3.jpg', alt='author')
              p.author_comment Em yêu trường em, với bao bạn thân...
              h5.text-custom2.text-uppercase
                | Học sinh  
                span.line
  // testimonial Section
  



