extends ../layouts/common
block content
  section.breadcrumbs_common.bg_img.pos_relative
    .overlay-innerpage
    .container
      .row
        .col-md-12
          .breadcrumbs_content.align_row_spacebetween
            h2.color_ff TIN TỨC - SỰ KIỆN
  // NEWS
  section#blog.blog.blogs.white.padding.pa-50
    .container
      .row
        .col-sm-1.col-lg-2
        .col-xs-12.col-sm-10.col-lg-8.text-center
          h2.text-uppercase.font-dearJoe.text-custom1
            | Tin tức - sự kiện
          .line_1-1
          .line_2-2
          .line_3-3
        .col-sm-1.col-lg-2
      .row
        each news in newsList
          .col-sm-6.col-lg-4.items
            .info
              a(href=`/tintuc-sukien/${news.newsId}`)
                if (news.link)
                  img(src=news.link, alt='')
                else  
                  img(src='/images/event/event1.jpg', alt='')
              .date
                p=news.createDate.getDate()
                p
                  span=((news.createDate.getMonth()+1)+", "+news.createDate.getFullYear())
              .caption
                h5.event-ti-style
                  a(href=`/tintuc-sukien/${news.newsId}`)=news.title
                  p 
                p#content-news 
                  small=news.content
                .educare-btn-style1
                  .educare-btn-effect
                  a(href=`/tintuc-sukien/${news.newsId}`)  Xem thêm 
  // NEWS
  

